* {

  font-family: Helvetica;
  text-align: center;
  }

  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5px;
  }

  .container {
    display: grid;
    grid-template-rows: 25vh max-content auto;
  }


.header {
  background-color:  #1bf14c;
  box-shadow: 2px 2px 3px grey;
 grid-area: header;
}


.sidebar ul {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  text-transform: uppercase;
justify-content: flex-start;
}
  
  .main-title h3 {
    color: black;
    font-size: 25px;
    text-transform: uppercase;
  }

#main-wrap {
  background-color:  #fafafa;
}

.container div {
  padding: 18px 12px;
}


.menu {
  display: flex;
  justify-content: right;
  margin-top: -3vh;
  margin-right: 70px;
  align-items: center;

}

.menu > .search-box {
  margin-top: -15px;
  display: flex;
  flex-flow: row nowrap;
}

.menu input[type=text] {
  padding: 6px;

  font-size: calc(15px + (25 - 15) * ((100vw - 350px) / (3000 - 350))); 
  width: 50vw;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu button {             /*search box*/

  padding: 4px 8px;
  margin-top: 0;
  margin-right: 16px;
  margin-left: 10px;
  background:  #f7f7f7;
  font-size: calc(17px + (27 - 17) * ((100vw - 350px) / (3000 - 350))); 
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}



.menu .header-icons span {
  font-size: calc(35px + (50 - 35) * ((100vw - 350px) / (3000 - 350))); 
  color: white;
  padding: 0px 15px 0;
}

.menu-lower {
  display: flex;
  margin-top: -8vh;
  justify-content: right;
margin-right: 70px;

  align-items: center;
}


.menu-lower .button {
  width: 8vw;
  font-size: calc(14px + (22 - 14) * ((100vw - 350px) / (3000 - 350))); 
  font-family: Helvetica;
  font-weight: 600;
  height: 5vh;
  margin-right: 12px;
  color: white;

  background-color: blue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 12px;

}

.menu-lower button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.sidebar-wrap {
  background-color:  #425bf8;
 grid-area: sidebar;
 
 box-shadow: 2px 2px 3px grey;

}
p.title {
  text-transform: uppercase;
}

.sidebar-wrap h3 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}

.invisible {
  display: none;
  padding: 0 5px;
}

body p  {
  color:  #adadad;
  font-size: calc(14px + (22 - 14) * ((100vw - 350px) / (3000 - 350))); 
  font-family: 'Roboto', sans-serif;
}

body ul {
  color: white;
  font-weight: 700;
  font-size: calc(22px + (32 - 22) * ((100vw - 350px) / (3000 - 350))); 
}

#main-wrap {
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
align-items: center;

}

.project {
    box-shadow: 2px 2px 3px grey;
}

.content img {
  max-width: 100%;
}

.content p.title {
  color:  #adadad;
  text-shadow: 1px 1px 2px black;
  margin: 1rem 0 1rem;
font-weight: 600;
font-size: calc(18px + (26 - 18) * ((100vw - 350px) / (3000 - 350))); 
}
.content p.title span {
  padding: 0 5px;
  color:  #646464;
}
.icons span {
  color:   #ffa952;
  text-shadow: 1px 1px 1px black;
  font-size: calc(25px + (35 - 25) * ((100vw - 350px) / (3000 - 350))); 
 padding: 5px;
}

.icons {
  margin: 0 0 0.5rem;
  display: flex;
  justify-content: right;
}


.announcements, .trending {
  height: max-content;
}

.announcements div div {

  border-bottom: 1px solid  #d4d4d4;

}

.announcements h3.ann-head {
  color: black;
  font-size: 20px;
  margin-top: 16px;

}

.anns-wrapper p.ann-title {
  color: black;
  font-size: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;

}

.trends-wrap p.trend-title {
  color: black;
  font-size: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.trending div {
  border-bottom: 1px solid  #d4d4d4;
}

@media (min-width: 350px) {

  .container div {
    padding: 18px 1px;
  }

  .container {
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"sidebar"
"main";

}

.header-icons {
  display: flex;
}

.menu {
  flex-flow: column nowrap;
  margin: 0;
  align-items: last baseline;
}

.sidebar ul {
  height: 300px;
  row-gap: 10px;
  justify-content: center;
  flex-flow: column wrap;
}

.sidebar-wrap h3 {
  text-align: right;
}

.sidebar ul li {
  margin: 0 0;

}

.icons {
  margin: -2.7rem 0 -2rem;
}

.project .content img {
    
  height: 17vh;
}

.main {
    
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: repeat(3, 1fr);
 gap: 30px;

}
#main-wrap {
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
align-items: center;

}


.project {
 
width: 20rem;
height: 30vh;
  
  
}

.main .project {
  background-color:   #f2fbff;
  color: black;
  text-align: center;
border-radius: 5%;
  
}

.project .content {
 margin: auto 0;
}


.project .title {
  font-size: 25px;
  text-align: center;
}

.announcements {
  grid-area: anns;
  

 background-color:   #f2fbff;
 color: black;
 text-align: center;
border-radius: 5%;
box-shadow: 2px 2px 3px grey;

}



.announcements p {
  color: black;
  font-weight: normal;
 
  padding: 3px;
}

.trending {
  grid-area: trends;
  background-color:   #f2fbff;
  color: black;
  text-align: center;
border-radius: 5%;
box-shadow: 2px 2px 3px grey;

}

.trending p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 3px;


}


}




@media (min-width: 700px) and (max-width: 1100px) {
  .container {
grid-template-columns: 1fr 5fr;
grid-template-areas: 

"sidebar header"
"sidebar main"
"sidebar main";


}


.menu {
  flex-flow: row nowrap;
  justify-content: right;
 margin-right: 0;

}

.menu input[type=text] {
  display: flex;
  width: 30vw;
  font-size: calc(12px + (20 - 12) * ((100vw - 350px) / (3000 - 350))); 
}

.menu .search-box {
margin-top: 0;
}

.menu button {             /*search box*/

  padding: 4px 8px;

  margin-right: 16px;
  margin-left: 10px;
  font-size: calc(16px + (24 - 16) * ((100vw - 350px) / (3000 - 350))); 

}


.menu .header-icons  {
  font-size: calc(30px + (40 - 30) * ((100vw - 350px) / (3000 - 350))); 
  color: white;
  padding: 0px 10px 0;


}

.menu-lower {
  margin-right: 0;
  margin-top: -6vh;
}


.menu-lower .button {
  width: 8vw;
  font-size: calc(12px + (20 - 12) * ((100vw - 350px) / (3000 - 350))); 
  font-family: Helvetica;
  font-weight: 600;
  height: 4vh;
  padding: 8px;

}


.sidebar ul {
  height: inherit;
}

.sidebar ul > li {
  margin: 10vh 0;

}

.icons {
  margin: -2.6rem 0 -2rem;
}




.main {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
 gap: 30px;


}

#main-wrap {
  grid-area: main;

  display: flex;
  flex-flow: column wrap;
align-items: center;
  row-gap: 20px;
  

}

.project {

  width: 25rem;
  height: 29vh;
  
}

.main .project {
  background-color:   #f2fbff;
  color: black;
  text-align: center;
border-radius: 5%;
  
}

.project .content {
 margin: auto 0;
}


.project .title {
  font-size: 25px;
  text-align: center;
}

.announcements {
  grid-area: anns;
width: 70%;
 background-color:   #f2fbff;
 color: black;
 text-align: center;
border-radius: 5%;
box-shadow: 2px 2px 3px grey;

}


.announcements p {
  color: #adadad;
  font-weight: normal;
 
  padding: 3px;
}

.trending {
  grid-area: trends;

  background-color:   #f2fbff;
  color: #adadad;
  text-align: center;
border-radius: 5%;
box-shadow: 2px 2px 3px grey;

}

.trending p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 3px;


}

}



@media (min-width: 1101px) {
  .container {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    
    "sidebar header"
    "sidebar main"
    "sidebar main";
    }


    .menu {
      margin-right: 50px;
        flex-flow: row nowrap;
        justify-content: right;
      
    }
    
    .menu input[type=text] {
      width: 35vw;
    }
    
    
    .menu-lower {

    margin-right: 50px;

      margin-top: -6vh;
    
    }
    

    .sidebar ul {
      height: inherit;
    }

    .sidebar ul > li {
      margin: 10vh 0;
    
    }

    .icons {
      margin: -2rem 0 -2rem;
    }
    
    .project .content img {
    
      height: 25vh;
    }
    .main {
    
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
     gap: 30px;
    
    
    }
    
    #main-wrap {
      grid-area: main;
      display: flex;
      flex-flow: column wrap;
    height: 125rem;
      row-gap: 20px;
   
    
    }
    

    
    .project {
  
      width: 17rem;
      height: 40vh;
      
    }
    
    .main .project {
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
      
    }
    
    .project .content {
     margin: auto 0;
    }
    
    
    .project .title {
      font-size: 25px;
      text-align: center;
    }
    
    .announcements {
      grid-area: anns;
    width: 14rem;
     background-color:   #f2fbff;
     color: black;
     text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;
    
    }
    
    
    .trending {
      grid-area: trends;
 width: 14rem;
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;

    }
    
    
    }
    


@media (min-width: 1400px) {
  .container {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    
    "sidebar header"
    "sidebar main"
    "sidebar main";
    
    }

    .menu {
      flex-flow: row nowrap;
    }

    .menu input[type=text] {
      width: 40vw;
    }

    .menu-lower {
      margin-top: -6vh;
    }


    .sidebar ul {
      height: inherit;
    }

    .sidebar ul > li {
      margin: 10vh 0;
    
    }

    .project .content img {
    
      height: 30vh;
    }
    
    .main {
    
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
     gap: 30px;
    
    
    }
    
    #main-wrap {
      grid-area: main;
      box-shadow: 2px 2px 3px grey;
      display: flex;
      flex-flow: column wrap;
    height: 126rem;
      row-gap: 20px;
      justify-content:stretch;
    
    }
    

    .project {
 
      width: 18rem;
      height: 44vh;
      
    }
    
    .main .project {
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
      
    }
    
    .project .content {
     margin: auto 0;
    }
    

    
    .project .title {
      font-size: 30px;
      text-align: center;
    }
    
    .announcements {
      grid-area: anns;
    width: 15rem;
     background-color:   #f2fbff;
     color: #adadad;
     text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;
    
    }
    

    
    .announcements p {
      color: black;
      font-weight: normal;
     
      padding: 3px;
    }
    
    .trending {
      grid-area: trends;
     width: 15rem;
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;
   
    }
    
    .trending p {
      color: black;
      font-weight: normal;
      font-size: 18px;
      padding: 3px;
    
    
    }
}

@media (min-width: 1800px) {
  .container {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    
    "sidebar header"
    "sidebar main"
    "sidebar main";
    
    }

.menu {
  flex-flow: row nowrap;
  align-items: flex-start;
}

.menu .header-icons span {
margin-top: -2.5vh;
}




    .sidebar ul {
      height: inherit;
    }

    .sidebar ul > li {
      margin: 10vh 0;
    
    }

    .project .content img {
    
      height: 27vh;
    }
    
    .main {
    
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
     gap: 50px;
    
    
    }
    
    #main-wrap {
      grid-area: main;
      box-shadow: 2px 2px 3px grey;
      display: flex;
      flex-flow: column wrap;
    height: 110rem;
      row-gap: 20px;
      justify-content:stretch;
    
    }
    

    
    .project {
 
      width: 26rem;
      height: 44vh;
      
    }
    
    .main .project {
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
      
    }
    
    .project .content {
     margin: -1rem 0 0;
    }
    

    
    .project .title {
      font-size: 32px;
      text-align: center;
    }
    
    .announcements {
      grid-area: anns;
      width: 20rem;
     background-color:   #f2fbff;
     color: black;
     text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;
    
    }
    
    
    .announcements p {
      color: black;
      font-weight: normal;
 
      padding: 3px;
    }
    
    .trending {
      grid-area: trends;
     width: 20rem;
      background-color:   #f2fbff;
      color: black;
      text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 3px grey;
 
    }
    
    .trending p {
      color: black;
      font-weight: normal;
      font-size: 20px;
      padding: 3px;
    
    
    }
  }

  @media (min-width: 2300px) {
    .container {
      grid-template-columns: 1fr 5fr;
      grid-template-areas: 
      
      "sidebar header"
      "sidebar main"
      "sidebar main";
      
      
      }

      .menu {
        flex-flow: row nowrap;
      }

    .sidebar ul {
      height: inherit;
    }

    .sidebar ul > li {
      margin: 10vh 0;
    
    }

      .project .content img {
    
        height: 26vh;
      }
      
      .main {
      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
       gap: 60px;
      
      
      }
      
      #main-wrap {
        grid-area: main;
    
        display: flex;
        flex-flow: column wrap;
      height: 126rem;
        row-gap: 20px;
        justify-content:stretch;
      
      }
      
      .project {
        box-shadow: -5px -5px 3px   #4b6eff;
        width: 25rem;
        height: 40vh;
        
      }
      
      .main .project {
        background-color:   #f2fbff;
        color: black;
        text-align: center;
      border-radius: 5%;
        
      }
      
      .project .content {
       margin: 0 0;
      }
      
      
      .project .title {
        font-size: 30px;
        text-align: center;
      }
      
      .announcements {
        grid-area: anns;
      width: 22rem;
       background-color:   #f2fbff;
       color: black;
       text-align: center;
      border-radius: 5%;
      box-shadow: 2px 2px 3px grey;
      
      }
      
 
      .announcements p {
        color: black;
        font-weight: normal;
        font-size: 20px;
        padding: 3px;
      }
      
      .trending {
        grid-area: trends;
       width: 22rem;
        background-color:   #f2fbff;
        color: black;
        text-align: center;
      border-radius: 5%;
      box-shadow: 2px 2px 3px grey;
     
      }
      
      .trending p {
        color: black;
        font-weight: normal;
        font-size: 20px;
        padding: 3px;
      
      
      }
    }
